In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('play_tennis.csv')

In [3]:
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [4]:
'''
Problem 1:
Outlook = Sunny, Temp = Hot, Humidity = High, Wind = Weak
Play or No play

Solution:
P(Yes | Sunny, Hot, High, Weak) = P(Sunny | Yes) * P(Hot | Yes) * P(High | Yes) * P(Weak | Yes) * P(Yes)

P(No | Sunny, Hot, High, Weak) = P(Sunny | No) * P(Hot | No) * P(High | No) * P(Weak | No) * P(No)

'''

'\nProblem 1:\nOutlook = Sunny, Temp = Hot, Humidity = High, Wind = Weak\nPlay or No play\n\nSolution:\nP(Yes | Sunny, Hot, High, Weak) = P(Sunny | Yes) * P(Hot | Yes) * P(High | Yes) * P(Weak | Yes) * P(Yes)\n\nP(No | Sunny, Hot, High, Weak) = P(Sunny | No) * P(Hot | No) * P(High | No) * P(Weak | No) * P(No)\n\n'

In [5]:
'''
1st Training 
2nd Lookup Table with all Probailities
3rd Testing
'''

'\n1st Training \n2nd Lookup Table with all Probailities\n3rd Testing\n'

In [6]:
# P(Yes)
# P(No)
print(df['play'].value_counts())
pY = 9 / 14
pN = 5 / 14

print('P(Yes) = ', pY)
print('P(No) = ', pN)

play
Yes    9
No     5
Name: count, dtype: int64
P(Yes) =  0.6428571428571429
P(No) =  0.35714285714285715

In [7]:
#Outlook

pd.crosstab(df['outlook'] , df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [8]:
PovercastN = 0
PrainN = 2 / 5
PsunnyN = 3 / 5

PovercastY = 4 / 9
PrainY = 3 / 9
PsunnyY = 2 / 9

In [9]:
#Temp
pd.crosstab(df['temp'] , df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [10]:
PcoolN = 1 / 5
PhotN = 2 / 5
PmildN = 2 / 5

PcoolY = 3 / 9
PhotY = 2 / 9
PmildY = 4 / 9

In [11]:
#Humidity
pd.crosstab(df['humidity'] , df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [12]:
PhighN = 4 / 5
PnormalN = 1 / 5

PhighY = 3 / 9
PnormalY = 6 / 9

In [13]:
pd.crosstab(df['wind'] , df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [14]:
PstrongN = 3 / 5
PweakN = 2 / 5

PstrongY = 3 / 9
PweakY = 6 / 9

In [ ]:
# Outlook = Sunny, Temp = Hot, Humidity = High, Wind = Weak

Pyes = PsunnyY * PhotY * PhighY * PweakY * pY
print('Probability of yes: ',Pyes)

Probability of yes:  0.007054673721340387

In [17]:
Pno = PsunnyN * PhotN * PhighN * PweakN * pN
print('Probability of no: ',Pno)

Probability of no:  0.02742857142857143